---
import { Image } from 'astro:assets';

interface Props {
    title: string;
}
import icon from "../../public/icon.jpg"
const { title } = Astro.props;
---

<div class="flex flex-col items-center justify-center gap-5">
    <Image src={icon} alt="Pessoa sorrindo de pele parda com blusa social cinza" class="w-40 h-40 rounded-full object-cover object-center" loading="eager" />

    <p class="w-72 text-center text-white text-2xl">{ title }</p>
</div>