---
interface Props {
	title: string;
	className: string
}

const currentYear = new Date().getFullYear();

const { title, className } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class={`${className} w-screen h-screen bg-background flex flex-col justify-center items-center gap-5`}>
		<slot />
	</body>
	<footer>
		<p class="text-white">© { currentYear } - João Victor Lourenço</p>
	</footer>
</html>
